@font-face{
    font-family: 'Rothek';
    src: url('../fonts/rothek-bold.woff') format('woff2'),
         url('../fonts/rothek-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-bold';
    src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-regular';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-extra';
    src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}

body{
    font-family: 'JetBrainsMono-regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #898989;
}

.container{
    width: 1141px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-wrapper,.menu_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.menu_wrapper{
    height: 100vh;
}

.menu{
    width: 90px;
    background: #FFFFFF;
    padding: 40px 34px;
    padding-bottom: 0;
}

.menu_sidebar{
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);   
    position: relative;
}
 
.menu-btn{
    background-color: transparent;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    background-image: url(../img/btn-open.svg);
    background-size: contain;
}

.menu-btn.active{
    background-image: url(../img/btn-close.svg);
}

.menu_title{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Rothek';  
    transform: rotate(-90deg);
    color: #222222;
    padding: 30px 10px;
    padding-bottom: 40px;
}


.menu_list{
    display: none;
    width: 407px;
    padding: 60px 0;
    padding-left: 90px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);
    margin-left: 90px;
    position: absolute;
}

.menu_link{
    display: block;
    background: #F8F6F1;
    padding: 34px 0;
}

.menu_link svg{
    margin: 0 auto;
    display: block;
}

.menu_item a{
    margin-bottom: 32px;
    display: block;
}

.menu_item .menu-link--phone{
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Rothek';
    margin-bottom: 0;
    margin-top: 269px; 
}

.menu_item--phone a svg{
    margin-right: 10px;
}

.menu-link--yellow{
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: #FFC901;
    font-family: 'JetBrainsMono-bold';
    padding-left: 28px;
}

.first{
    background-image: url(../img/bg-first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}