@font-face{
    font-family: 'Rothek';
    src: url('../fonts/rothek-bold.woff') format('woff2'),
         url('../fonts/rothek-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-bold';
    src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-regular';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-extra';
    src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}

button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

body{
    font-family: 'JetBrainsMono-regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #898989;
    height: 100vh;
}

h2{
    font-size: 38px;
    line-height: 48px;
    color: #222222;
}

.container{
    width: 1141px;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 100%;
}

.main-wrapper,.menu_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.main-wrapper{
    height: 100vh;
}

.menu{
    width: 90px;
    background: #FFFFFF;
    padding: 40px 34px;
    padding-bottom: 0;
}

.menu_sidebar{
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);   
    position: fixed;
    height: 100%;
}

.menu_sidebar.active{
    z-index: 100000;
    border-right: 1px solid #F2F0E9;
}
 
.menu-btn{
    background-color: transparent;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    background-image: url(../img/btn-open.svg);
    background-size: contain;
}

.menu-btn.active{
    background-image: url(../img/btn-close.svg);
}

.title{
    font-family: 'Rothek';
}

.menu_title{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Rothek';  
    transform: rotate(-90deg);
    color: #222222;
    padding: 30px 10px;
    padding-bottom: 40px;
}


.menu_list{
    display: none;
    width: 407px;
    padding: 60px 0;
    padding-left: 90px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);
    margin-left: 90px;
    position: fixed;
    height: 100%;
    z-index: 1000;
}

.menu_sidebar.active{
    box-shadow: none;
}

.menu_link{
    display: block;
    background: #F8F6F1;
    padding: 34px 0;
}

.menu_link svg{
    margin: 0 auto;
    display: block;
}

.menu_item a{
    margin-bottom: 32px;
    display: block;
}

.menu_item .menu-link--phone{
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Rothek';
    margin-bottom: 0;
    margin-top: 269px; 
}

.menu_item--phone a svg{
    margin-right: 10px;
}

.menu-link--yellow{
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: #FFC901;
    font-family: 'JetBrainsMono-bold';
    padding-left: 28px;
    text-transform: uppercase;
}

.first{
    background-image: url(../img/bg-first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_wrapper{
    flex: 1;
    margin-left:90px;
}

.nav{
    display: flex;
    align-items: center;
    padding-top: 77px;
}

.nav_list{
    display: flex;
    gap: 12px;
}

.nav_link{
    background-color: #222425;
    -webkit-mask-image: url(../img/nav-figure.svg);
    mask-image: url(../img/nav-figure.svg);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 59px;
}
 
.nav_link:hover{
    background-color: #FFC901;
}

.nav_link:hover svg path{
    fill: #251E03;
}

.nav_phone{
    margin-left: auto;
    margin-right: 50px;
}

.nav_phone p,.footer_phone p{
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Rothek';
    color: #fff;
}

.nav_phone a ,.footer_phone a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.first_title{
    font-weight: 700;
    font-size: 76px;
    line-height: 80px;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 30px;
}

.first_desc{
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: 'JetBrainsMono-regular';
}

.first_bottom{
    padding-top: 40px;
    padding-bottom: 120px;
    display: flex;
    align-items: flex-end;
}

.btn{
    font-family: 'Rothek';
    background: #FFC901;
    display: inline-block;
}

.first_btn{
    padding: 25px 49px;
}

.first_bottom_list{
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.first_bottom_item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 190px;
    height: 190px;
    background: url(../img/bottom-item-bg.svg);
    background-repeat: no-repeat;
}

.first_bottom_item p{
    width: 100%;
    text-align: center;
    padding-top: 22px;
    color: #fff;
    font-family: 'Rothek';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.products{
    padding: 90px 0 100px 0;
}

.products .title{
    padding-bottom: 51px;
}

.product_item{
    width: 33.33%;
    padding: 0 30px 30px 30px;
    border: 1px solid #EFEFEF;
    margin-right: -1px;
    margin-bottom: -1px;
    background-color: #fff;
}

.btn-buy{
    padding: 6px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.btn-inner{
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
}

.product_img{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img img{
    width: 100%;
}

.tag{
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'JetBrainsMono-bold';
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 20px;
    border-radius: 11px 11px 11px 0px;
}

.tag--hit{
    background: #65C729;
}

.tag--best{
    background: #222222;
}

.tag--sale{
    background: #F96C3F;
}

.product_title{
    display: block;
    font-size: 14px;
    font-family: 'JetBrainsMono-bold';
    line-height: 28px;
}

.product_title span{
    color: #D2D2D2;
    display: block;
    margin-bottom: 10px;
}

.availability,.product_title{
    font-size: 14px;
    line-height: 18px;
    font-family: 'JetBrainsMono-bold';
}

.availability{
    margin: 10px 0 30px 0;
    color: #D2D2D2;
}

.availability--green{
    color: #8ACE46;
}

.product_description{
    margin-bottom: 40px;
    line-height: 22px;
    font-size: 14px;
}

.product_prices_block{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.product_price{
    font-size: 28px;
    line-height: 30px;
    font-family: 'Rothek';
    color: #222222;
}

.product_old-price{
    font-size: 18px;
    line-height: 30px;
    font-family: 'Rothek';  
    text-decoration: line-through;
    color: #D2D2D2;
    margin-right: 16px;
}

.product_buy{
    display: flex;
    align-items: center;
}

.product_settings{
    width: 38px;
    height: 38px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-gray{
    width: 44px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/pr-gray-bg.svg);
    margin-right: 8px;
}

.bg-gray:last-child{
    margin-right: 0;
}

/* checkbox custom */
 
.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 1px;
}

.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #fff;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: #fff;
}

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #FFFFFF;
}

.custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
 
.custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #FFFFFF;
}

.custom-checkbox>input:checked+span::before {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23222' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
  
.custom-checkbox>input:disabled+span::before {
    background-color: #fff;
}

.consultation_block--left{
    padding: 80px 0;
}

.consultation{
    position: relative;
}

.consultation .container{
    display: flex;
    justify-content: space-between;
}

.consultation::before{
    content: "";
    position: absolute;
    background-image: url(../img/bg-consl.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    height: 100%;
    background-color: #FFC901;
}

.consultation::after{
    content: '';
    position: absolute;
    background-image: url(../img/bg-cons-2.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0;
    background-size: 50% 100%;
    background-position: right ;
}

.consultation_block--left{
    width: 42%;
}

.consultation_block--right{
    width: 50%;
}

.consultation_block--right .wrap-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50%;
}

.consultation_block--right .wrap-inner .btn{
    width: 364px;
    text-align: center;
    padding: 25px 0;
}

.consultation_block--right b{
    font-size: 38px;
    line-height: 48px;
    font-family: 'Rothek';
    color: #fff;
    padding-bottom: 50px;
}

.consultation_block{
    position: relative;
    z-index: 100;
}
 
.wrapper{
    width: 470px;
    margin: 0 auto;
}

.consultation .free{
    font-size: 13px;
    line-height: 14px;
    font-family: 'Rothek';
    color: #251E03;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 10px 16px;
    margin-bottom: 30px;
    display: inline-block;
}

.consultation_form{
    margin-top: 40px;
}

input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 28px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'JetBrainsMono-regular';
}

input::placeholder{
    color: #fff;
}

.consultation-img{
    width: 114px;
    height: 114px;
    z-index: 10;
}
 

.anim-border img{
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
}

.consultation-img::after{
    border-radius: 50%;
    width: 114px;
    height: 114px;
    background-color: rgba(255, 255, 255, 0.25);
}
 
.anim-border{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}



.anim-border::after{
    position: absolute;
    content: '';
    animation: border-anim 3s infinite ease-in-out;
}

.btn-form{
    background: #251E03;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Rothek';
    color: #fff;
}

.btn--consl{
    padding: 25px 0;
    width: 100%;
    margin-bottom: 40px;
}

.form-agree,.form-agree a{
    font-size: 13px;
    line-height: 17px;
    color: #907511;
}

.form-agree a{
    text-decoration: underline;
    margin-left: 5px;
}

.info .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info{
    padding: 100px 0;
    padding-bottom: 21px;
}

.info_block{
    width: 50%;
    margin-bottom: 79px;
}

.info_block-icon{
    width: 76px;
    height: 76px;
}

.info_block-icon img{
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.info_block-img{
    position: relative;
}

.info_block-icon::after{
    border-radius: 50%;
    width: 76px;
    height: 76px;
    background-color: rgba(255, 255, 255, 0.25);
}

.info_block-text{
    width: 46%;
}

.fl-end-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.info_block-text .title{
    margin-bottom: 40px;
}

.annotation{
    font-size: 20px;
    color: #222222;
    line-height: 30px;
}

.annotation--left{
    padding-left: 34px;
    border-left: 2px solid #FFC901;
}

.annotation--right{
    padding-right: 34px;
    border-right: 2px solid #FFC901;
}

.t-a-right{
    text-align: right;
}

.info_block-desc{
    margin-top: 30px;
}

.info_block-link{
    font-family: 'Rothek';
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    display: flex; 
    gap: 14px;
    margin-top: 40px;
    transition: 1s;
}

.info_block-link:hover svg{
    transform: scale(1.2);
    transition: 1s;
}

.manufacturer{
    background-color: #F4F3EF;
    padding: 90px 0;
    background-image: url(../img/manufac-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.manufacturer p{
    font-size: 20px;
    line-height: 30px;
    margin-right: auto;
}

.manufacturer_list{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 -10px;
}

.manufacturer_item{
    background: #FFFFFF;
    border-radius: 100px 100px 100px 5px;
    width: 170px;
    height: 170px;
    align-items: center;
    justify-content: center;
}

.slick-initialized .manufacturer_item{
    display: flex;  
    margin: 0 10px;
}

.manufacturer-nav{
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.manufacturer-nav .slick-prev {
    margin-right: 20px;
}

.rent{
    padding: 100px 0;
}

.desc{
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}

.rent_list{
    padding-top: 74px;
    display: flex;
    justify-content: space-between;
}

.rent_item{
    width: 32%;
    position: relative;
    padding: 97px 40px 40px 40px;
    background: #F5F5F1;
    display: flex;
    flex-direction: column;
}

.rent_item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background-image: url(../img/rent-after.svg);
    background-size: cover;
    top: -1px;
    left: 0;
}

.rent_item span{
    position: absolute;
    top: -40px;
    font-size: 74px;
    line-height: 98px;
    color: #FFC901;
    font-family: 'JetBrainsMono-extra';
    z-index: 100;
}

.rent_item h3{
    font-size: 26px;
    line-height: 30px;
    color: #222222;
    margin-bottom: 30px;
}

.rent_item strong{
    color: #222222;
}

.rent_item p{
    margin-bottom: 45px;
}

.rent_price{
    font-size: 18px;
    line-height: 30px;
    color: #222222;
    margin-bottom: 40px;
    font-family: 'Rothek';
    margin-top: auto;
}

.rent_price strong{
    font-size: 28px;
}

.rent_btn{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.how-we-work{
    padding-bottom: 70px;
}

.how-we-work .title{
    margin-bottom: 50px;
}

.how-we-work_list{
    display: flex;
    flex-wrap: wrap;
}

.how-we-work_item{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.how-we-work_item:nth-child(even){
    margin-top: 30px;
}

.how-we-work_dots{
    border: 1px solid #EAEAEA; 
    padding: 12px;
    display: flex;
    gap: 5px;
}

.how-we-work_dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    background: #EBEBE5;
}

.how-we-work_dot.active{
    background: #FFC901;
}

.how-we-work_info{
    border: 1px solid #EAEAEA;
    padding: 15px 15px 40px 30px;
    display: flex;
    flex-direction: column;
}

.how-we-work_link{
    display: flex;
}

.how-we-work_link img{
    width: 100%;
}

.how-we-work_info span{
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 16px;
    color: #251E03;
    font-family: 'JetBrainsMono-extra';
    background: #FFC901;
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-bottom: 35px;
}

.how-we-work_info h3{
    font-size: 26px;
    line-height: 30px;
    color: #222222;
    margin-bottom: 20px;
}

.how-we-work_info a{
    margin-top: 25px;
    margin-left: auto;
    margin-right: 15px;
}
 
.gray,.black,.yellow{
    border: none;
}

.gray{
    background: #F5F5F1;
}

.black{
    background: #222222;
}

.yellow{
    background: #FFC901;
}

.how-we-work_info .how-we-work-count_black{
    background: #251E03;
    color: #fff;
}

.how-we-work_info.yellow p{
    color: #251E03;
}

.advantages{
    position: relative;
    padding-bottom: 76px;
}

.advantages::after{
    position: absolute;
    content: '';
    background-image: url(../img/advantg-bg.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
}

.advantages_list{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages_item{
    display: flex;
    border: 1px solid #EAEAEA;
    width: 49%;
    padding: 44px 44px 50px 50px;
    margin-bottom: 24px;
    align-items: flex-start;
    background-color: #fff;
    position: relative;
    z-index: 100;
}

.advantages_count{
    position: relative;
    margin-right: 43px;
}

.advantages_count span{
    position: relative;
    z-index: 100;
    font-size: 74px;
    line-height: 98px;
    color: #222222;
    font-family: 'JetBrainsMono-extra';
}

.advantages_count::after{
    content: '';
    position: absolute;
    background-image: url(../img/border-advant.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 17px;
    left: -25px;
    bottom: 12px;
}

.advantages_text .title{
    color: #222222;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 30px;
}

.list{
    position: relative;
}

.list li{
    display: flex;
    align-items: center;
    gap: 12px;
}

.list li::before{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #fff;
    border: 4px solid #FFC901;
    display: block;
}

.help-sec{
    background-color: #FFC901;
    background-image: url(../img/bg-help.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    padding-bottom: 194px;
}

.help-sec::before{
    position: absolute;
    content: '';
    background-image: url(../img/server-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 425px;
}

.help-form_inner{
    width: 50%;
    margin-left: auto;
}

.help_form{
    position: relative;
    z-index: 100;
}

.help-form_inner p{
    color: #907511;
    margin-bottom: 50px;
}

.stocks{
    margin-top: -60px;
    position: relative;
    z-index: 100;
}

.stocks_list{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);
}

.stocks_item{
    width: 33.333%;
    display: flex;
    flex-direction: column;
    padding: 80px 65px 114px 65px;
    text-align: center;
}

.stocks img{
    display: block;
    margin: 60px auto 40px auto;
}

.white{
    background: #fff;
}

.stocks_item .title{
    margin-bottom: 30px;
}

.stocks_item p{
    margin-bottom: 50px;
}

.stocks_item strong{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 3px solid #FFC901; 
    margin: 0 auto ;
    margin-bottom: 30px;
    color: #222222;
}
 
.stocks_item span{
    margin-bottom: 50px;
}

.stocks_item.black .title{
    color: #FFFFFF;
}

.stocks_item.black p{
    color: #898989;
}

.stocks_item.black strong{
    color: #fff;
}

.stocks_item strong{
    font-size: 80px;
    line-height: 80px;
    font-family: 'JetBrainsMono-extra';
}

.stocks--btn{
    line-height: 19px;
    padding: 20px 0;
}

.servers{
    position: relative;
    padding-bottom: 152px;
}

.servers::after{
    position: absolute;
    content: '';
    background-image: url(../img/advantg-bg.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
}

.servers .title{
    text-align: center;
    margin-bottom: 50px;
}

.servers_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.servers_item{
    text-align: center;
    padding: 0 70px;
    border-right: 1px solid #E1E1E1;
}

.servers_item:last-child{
    border: none;
}

.servers_item strong{
    font-size: 72px;
    line-height: 80px;
    color: #222222;
    font-family: 'JetBrainsMono-extra';
}

.servers_bottom{
    position: relative;
    z-index: 100;
}

.servers_bottom img{
    display: block;
    margin: 0 auto;
}

.servers-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 209px;
    padding: 20px 0;
    text-align: center;
}

.footer{
    position: relative;
    z-index: 1000;
    background: #222222;
}

.footer .container{
    display: flex;
    flex-direction: column;
}

.footer_list{
    display: flex;
    justify-content: space-between;
    padding: 0 133px;
    margin: 50px 0 40px 0;
}

.footer_img{
    align-self: center;
    margin-top: -70px ;
}

.footer_item a{
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.footer_address{
    color: #fff;
    font-size: 15px;
    line-height: 26px;
}

.footer_address span{
    font-family: 'JetBrainsMono-bold';
    color: #898989;
}

.footer_info{
    display: flex;
    gap: 50px;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
    padding-top: 45px;
    padding-bottom: 70px;
}

.footer_bottom_list{
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer_bottom{
    background: #171717;
    padding: 60px 0 80px 0;
}

.footer_bottom .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer_bottom a{
    color: #fff;
}

.footer_bottom p,.footer_bottom a{
    font-size: 14px;
    line-height: 26px;
}

.inner{
    position: relative;
}

.inner::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/inner-lines.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.nav--inner{
    padding: 30px 0;
}

.nav--inner .nav_phone p{
    color: #222222;
}

.nav--inner .nav_phone svg path{
    fill:#222222;
}

.nav--inner .nav_link{
    background-color: #F5F5F1;
}

.nav--inner .nav_link:hover{
    background-color: #FFC901;
}

.nav--inner .nav_link svg path{
    fill: #222222;
}

.catalog{
    padding: 80px 0;
    padding-bottom: 0;
}

header{
    border-bottom: 1px solid #E9E9E9;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.crumb,.crumb a{
    font-size: 14px;
    line-height: 22px;  
}

.crumb{
    padding-right: 8px;
}

.crumb:not(.crumb.active):after{
    content: '//';
    color: #DADADA;
}

.section_wrapper > section{
    position: relative;
    z-index: 100;
}

.catalog .title{
    margin-bottom: 40px;
}

.catalog_form{
    background: #F4F3EF;
    margin-right: 24px;
    align-self: flex-start;
}

.catalog_form {
    width: 267px;
    padding: 0 30px;
}

.catalog_form .form-head,.catalog_form .form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_form .form-top{
    margin-bottom: 20px;
}

.catalog_form .form-top.close{
    margin-bottom: 0;
}

.catalog_form .form-block h3{
    font-size: 22px;
    line-height: 28px;
    font-family: 'JetBrainsMono-bold';
    color: #222222;
}

.catalog_form .form-block h4{
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.catalog_form .form-head button{
    font-size: 10px;
    line-height: 12px;
    font-family: 'Rothek';
    text-transform: uppercase;
}

.catalog_form .form-block{
    position: relative;
    padding: 30px 0;
}

.catalog_form .form-block::after{
    position: absolute;
    content: '';
    width: calc(100% + 60px);
    left: -30px;
    box-sizing: border-box;
    height: 1px;
    background-color: #e5e4e1;
    bottom: 0;
}

.catalog_form .form-block:last-child:after{
    display: none;
}


.catalog_form .form_inputs{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.catalog_form .form_inputs input{
    padding: 12px;
    background-color: #fff;
    color: #222222;
    margin-bottom: 0;
    width: 45%;
}

.catalog_form .form_inputs input::placeholder{
    color: #D2D2D2;
}

.btn-hide.close{
    transform: rotate(180deg);
}

.form-text{
    font-size: 13px;
    line-height: 17px;
    color: #222222;
}

.catalog_form .custom-checkbox>span::before{
    margin-right: 10px;
}

.catalog_form .form_inputs .inp-range{
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 24px;
}
 
.catalog_products{
    display: flex;
    justify-content: space-between;
}

.catalog_manufacturer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog_sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_sort,.catalog_manufacturer{
    padding-left: 26px;
}

.catalog_items{
    flex: 1;
}

.catalog_manufacturer-btn{
    padding: 8px 16px;
    background: #F4F3EF;
    border-radius: 20px;
    font-size: 13px;
    line-height: 20px;
    font-family: 'JetBrainsMono-bold';
}

.catalog_manufacturer-btn.current{
    background-color: #FFC901;
}

.catalog_sort-head{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    font-family: 'JetBrainsMono-bold';
    gap: 8px;
}

.sort_btn{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    padding: 14px;
    font-family: 'JetBrainsMono-regular';
}

.sort_grid .current svg path{
    fill: #FFC901;
}

.sort_find{
    font-size: 14px;
    line-height: 22px;
}

.sort_btns{
    display: flex;
    gap: 14px;
}

.catalog_items .products_list{
    margin-top: 40px;
}

.catalog_items .product_item{
    display: flex;
    flex-direction: column;
    padding: 0 38px 38px 38px;
}

.catalog_items .product_item-inner{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.catalog_items .product_prices_block,.catalog_items .product_buy{
    flex-wrap: wrap;
}

.catalog_items .product_prices_block p{
    width: 100%;
    margin: 0;
}

.catalog_items .product_prices_block{
    margin-bottom: 30px;
    margin-top: auto;
}

.catalog_items .product_description{
    margin-bottom: 22px;
}

.catalog_items .btn-buy{
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
}

.catalog_items .tag{
    align-self: flex-start;
}


.catalog_items .products_list.row-el .product_item{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 30px;
}

.catalog_items .products_list.row-el .product_item .product_img{
    width: 237px;
    margin-right: 50px;
    height: auto;
    padding-top: 10px;
}

.catalog_items .products_list.row-el .product_item .availability{
    margin-bottom: 22px;
}

.catalog_items .products_list.row-el .product_prices_block p{
    width: auto;
}

.catalog_items .products_list.row-el .product_old-price{
    margin-right: 16px;
}

.catalog_items .products_list.row-el .btn-buy{
    width: 214px;
    margin-bottom: 0;
    margin-right: 10px;
}

.pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination_link{
    padding: 0 12px 10px 12px;
    border-bottom: 2px solid #EDECEA;
    color: #D1D0CE;
}

.pagination_link.active{
    color: #222222;
    border-color: #FFC901;
}

.pagination_link--last,.pagination_link--first{
    color: #222222;
}

.rent--inner{
    padding-top: 0;
}

.cart{
    padding-top: 80px;
    padding-bottom: 100px;
}

.cart_img{
    width: 655px;
}
 
.cart_list--bottom .cart_item{
    width: 200px;
    margin-right: 27px;
}

.cart_list--bottom .cart_item{
    opacity: 0.25;
}

.cart_list--bottom .cart_item.slick-current{
    opacity: 1;
}

.cart_list--top{
    margin-bottom: 70px;
}

.cart_img{
    margin-right: 121px;
}

.cart .title{
    margin-bottom: 115px;
}

.cart .container{
    display: flex;
    flex-wrap: wrap;
}

.cart_info{
    flex: 1;
}

.cart_comparison{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 26px;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 30px;
    gap: 30px;
}

.cart_comparison span{
    font-size: 13px;
    line-height: 20px;
    font-family: 'JetBrainsMono-bold';
}

.cart_comparison a{
    display: flex;
    gap: 10px;
}

.cart_prices .availability{
    margin: 0;
    align-self: flex-end;
}

.cart_desc{
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 22px;
}

.cart_prices{
    justify-content: space-between;
    margin-bottom: 50px;
}

.cart_prices .product_price{
    font-size: 40px;
    line-height: 30px;
}

.cart_prices .product_old-price{
    margin-bottom: 6px;
}

.cart_article{
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 10px;
}

.cart-btn,.cart_conf{
    padding: 26px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.cart_conf{
    background: #F8F6F1;
}

.cart_btns span{
    font-size: 14px;
    line-height: 19px;
}
.cart_btns{
    margin-bottom: 35px;
}

.cart_bottom-text{
    font-size: 14px;
    line-height: 22px;
}

.cart_characteristic{
    margin-top: 100px;
}

.characteristic_btns{
    display: flex;
    flex-direction: column;
    width: 267px;
    margin-right: 24px;
}

.characteristic_btn{
    padding: 26px 0;
    width: 100%;
    border: 1px solid #E9E9E9;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Rothek';
}

.characteristic_btn:last-child{
    margin-bottom: 0;
}

.characteristic_btn.current{
    background: #FFC901;
}

.characteristic_text{
    flex: 1;
}

.characteristic_block{
    padding: 50px 60px;
    background: #F8F6F1;
}

.characteristic_block strong{
    display: block;
    color: #222222;
    margin-bottom: 30px;
}

.cart .characteristic_block-title{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 30px;
}

.characteristic_block li,.characteristic_block p{
    font-size: 14px;
    line-height: 22px;
}


.characteristic_block ul{
    margin-bottom: 30px;
}

.js-tab-content {
    display: none;
}

.js-tab-content.current{
    display: block;
}

.products--cart {
    padding-top: 0;
}

.products--cart_block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 65px;
}

.bnts_slider{
    display: flex;
    gap: 24px;
}

.products--cart_block .title{
    padding-bottom: 0;
}

.products_list--slider .product_item{
    margin-bottom: 0;
}

.configurator{
    padding-top: 80px;
    padding-bottom: 173px;
}

.configurator-head{
    font-size: 26px;
    line-height: 30px;
    color: #222222;
    font-family: 'Rothek';
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.configurator-head::before{
    content: '';
    width: 40px;
    height: 2px;
    background-color: #222222;
    display: block;
    margin-right: 22px;
}

.configurator .title{
    margin-bottom: 60px;
}

.configurator_btn{
    width: 130px;
    padding: 25px 0;
    text-align: center;
    border: 1px solid #E9E9E9;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Rothek';
    color: #251E03;
    background-color: #fff;
}

.configurator_btn.current{
    background: #FFC901;
    border: none;
}

.configurator_block{
    margin-bottom: 60px;
}


.custom-checkbox>.gray-cbx::before{
    background-color: #F4F3EF;
}

.custom-checkbox>input:checked+.gray-cbx::before{
    background-color: #F4F3EF;
}

.custom-checkbox>input:not(:disabled):active+.gray-cbx::before{
    background-color: #F4F3EF;
}

.configurator_bottom-list{
    display: flex;
    flex-direction: column;
    background: #F8F6F1;
    padding: 30px 40px 30px 30px;
}

.configurator_bottom_item{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}


.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  /* для элемента label связанного с .custom-radio */
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

 
  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50%;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #FFFFFF;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::before {
    background-color: #FFC901;
    border-color: #FFC901;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::before {
    border-color: #FFC901;
    background-color: #FFC901;
    background-image: url("../img/checbox-radio.svg");
  }
  /* стили для радиокнопки, находящейся в состоянии disabled */
  /* .custom-radio:disabled+label::before {
    background-color: #FFC901;
  } */

.configurator_bottom_radio label{
    font-size: 13px;
    line-height: 17px;
    color: #222222;
}

.configurator_bottom_price{
    font-size: 13px;
    line-height: 17px;
    color: #222222;
    font-family: 'JetBrainsMono-bold';
}

.configurator_bottom_radio{
    display: flex;
}
  
.btn-show-more{
    width: 150px;
    margin-left: 25px;
    font-family: 'Rothek';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 16px;
}

.btn-show-more svg{
    margin-left: 14px;
}

.configurator_top-list{
    display: flex;
}

.configurator_name{
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    width: 227px;
    font-family: 'JetBrainsMono-bold';
    margin-right: 28px;
    flex: 0 0 auto;
}

.configurator_checkboxes{
    display: flex;
    column-gap: 24px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.custom-checkbox>.gray-cbx::before{
    margin-right: 10px;
}

.checkbox-text{
    color: #222222;
    font-size: 13px;
    line-height: 17px;
}

.configurator_top-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
}

.configurator_top_item{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.configurator_top_item:last-child{
    margin-bottom: 0;
}

.configurator_inputs input{
    padding: 12px 12px 12px 23px;
    background: #F4F3EF;
    color: #222222;
    margin-bottom: 0;
    width: 27%;
}

.configurator_inputs{
    display: flex;
    align-items: center;
}

.configurator_inputs span{
    display: block;
    margin: 0 5px;
}

.configurator_inputs input::placeholder{
    color: #222222;
}

.configurator_inputs .inp-first::placeholder{
    color: #BFBFBF;
}

.configurator_bottom_radio input{
    width: 20px;
}

.configurator_result-head strong{
    font-family: 'Rothek';
    font-size: 38px;
    line-height: 48px;
    color: #222222;
    margin-right: 40px;
    display: block;
}

.configurator_result{
    padding-top: 40px;
}

.configurator_result-head {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.configurator_result-head .availability{
    margin: 0;
}

.configurator_result_wrapper{
    padding: 50px 60px 50px 50px;
    background-color: #FFC901;
    background-image: url(../img/configurator-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.configurator_result_list li{
    color: #251E03;
    margin-bottom: 40px;
}

.configurator_result_list{
    margin-bottom: 60px;
}

.configurator_result_list li:last-child{
    margin-bottom: 0;
}

.configurator_result-title{
    font-size: 14px;
    line-height: 20px;
    font-family: 'JetBrainsMono-bold';
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}

.configurator_result-title::before{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #251E03;
    margin: 0 10px;
}

.configurator_result-content{
    font-size: 16px;
    line-height: 20px;
}

.configurator_btn-pdf{
    padding:8px 16px ;
    font-size: 13px;
    line-height: 20px;
    background: #FFFFFF;
    border-radius: 20px;
}

.configurator .container{
    display: flex;
    flex-wrap: wrap;
}

.configurator_info{
    width: 60%;
    margin-right: auto;
}

.configurator_cart{
    flex:0;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 10px;

}

.configurator_cart .product_prices_block{
    margin-bottom: 40px;
}

.btns_configurator a,.btns_configurator{
    display: flex;
    align-items: center;
    gap: 8px;
}

.btns_configurator a{
    background: #F8F6F1;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 13px;
    line-height: 20px;
    color: #222222;
    font-family: 'JetBrainsMono-bold';
}

.btns_configurator{
    gap: 10px;
    margin-top: 20px;
}

.garant::before{
    background-image:url(../img/garant.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}

.individual::before{
    background-image:url(../img/indv.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}

.help::before{
    background-image:url(../img/umbrella.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}

.delivery::before{
    background-image:url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}

.exp::before{
    background-image:url(../img/people.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}

.direct::before{
    background-image:url(../img/box.svg);
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}

.ellips_list li::before{
    background-color: #FFF9E3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellips_list li{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 8px;
}

.about{
    padding: 90px 0 100px 0;
}

.about .title{
    padding-bottom: 50px;
}

.about_list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
}

.about_list li{
    width: 33.3333%;
    align-items: flex-start;
}

.about_list li strong{
    font-size: 26px;
    line-height: 30px;
    font-family: 'Rothek';
    margin-bottom: 8px;
    display: block;
}

.about_list li p{
    font-size: 14px;
    line-height: 22px;
    color: #898989;
}

.about_list li::before{
    width: 84px;
    height: 84px;
}

.about_list_inner{
    width: 63%;
}

.about_list li::before{
    background-size: 36px 36px;
}

.info--inner{
    padding: 0;
}

.info--inner .container{
    justify-content: start;
}

.info--inner .info_block-img{
    width: 500px;
    margin-right: 80px;
}

.info--inner h2{
    width: 100%;
    margin-bottom: 60px;
}

.list--info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 31px;
}

.list--info li strong{
    color: #222222;
    font-weight: 400;
}

.list--info li{
    align-items: flex-start;
}

.list--info li::before{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    background-color: #FFF9E3;
    background-image: url(../img/checkbox-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.equipment{
    padding-bottom: 100px;
}

.equipment_list{
    display: flex;
    margin-top: 50px;
}

.equipment_item{
    border: 1px solid #E9E9E9;
    padding: 56px 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment_item svg{
    margin-bottom: 39px;
}

.equipment_item p{
    text-align: center;
}

.equipment_head{
    font-size: 50px;
    line-height: 50px;
    color: #222222;
    font-family: 'JetBrainsMono-bold';
    margin-bottom: 10px;
}

.reviews_head{
    display: flex;
    justify-content: space-between;
}

.review_btns{
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.reviews_list{
    margin-top: 50px;
}

.reviws_wrapper{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.slick-initialized .review_item{
    display: flex;
    padding-top: 20px;
}

.review_img{
    width: 364px;
    margin-right: 100px;
    position: relative;
}

.review_img img{
    z-index: 1000;
    position: relative;
}
 

.review_img::after{
    content: url('../img/review-icn.png');
    top: -20px;
    right: -50px;
    width: 100px;
    height: 61px;
    position: absolute;
    z-index: 1;
}

.review_item_text p{
    padding: 40px 0;
}

.review_item_text strong{
    font-size: 16px;
    line-height: 16px;
    color: #222222;
    font-family: 'Rothek';
}

.review_item_text{
 
    margin-bottom: 30px;
}

.reviews .dots{
    margin-top: auto;
    width: 58%;
    margin-left: auto;
    margin-top: -10px;
    z-index: 100;
}

.reviews .dots .slick-dots{
    display: flex;
    gap: 9px;
}

.reviews .dots .slick-dots li{
    width: 9px;
    height: 9px;
    background: #F5F5F1;
    cursor: pointer;
}

.reviews .dots .slick-dots button{
    font-size: 0;
}

.reviews .dots .slick-dots .slick-active{
    background: #FFC901;
}

.reviews{
    padding-bottom: 100px;
}

.review-more{
    font-family: 'Rothek';
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    gap: 14px;
}

.info_block img{
    width: 100%;
}


.configurator_bottom_item.hidden{
    display: none;
}
 
.custom-radio-btn,.custom-radio-btn+label{
    width: 130px;
    padding: 25px 0;
    text-align: center;
    border: 1px solid #E9E9E9;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Rothek';
    color: #251E03;
    background-color: #fff;
    justify-content: center;
}

.custom-radio-btn:checked+label::before,.custom-radio-btn+label::before{
    display: none;
}

.custom-radio-btn:not(:disabled):active+label,.custom-radio-btn:checked+label{
    background-color: #FFC901;
    border-color: #FFC901;
}

 
.configurator_btns{
    display: flex;
}


.configurator_bottom_item label span{
    padding-right: 5px;
}

.ram-count{
    width: 100px;
    background-color: #fff;
    color: #222222;
    margin-bottom: 0;
    padding: 10px 20px;
    display: none;
    font-size: 14px;
}


.configurator_bottom_item.disabled .configurator_bottom_radio label,.configurator_bottom_item.disabled .configurator_bottom_price {
    color: #a5a4a4;
    cursor: not-allowed;
}

@keyframes border-anim {
    from {
        transform: scale(0.9);
      }
      50% {
        transform: scale(1.1);
      }
      to {
        transform: scale(0.9);
      }
}

@media (max-width:1200px) {
    body{
        zoom: 0.8;
    }
}

@media(max-width:992px){
    body{
        zoom: 0.7;
    }

    .main-wrapper{
        display: block;
    }

    .product_item{
        width: 49%;
    }


    .help-sec::before{
        background-size: 45%;
        background-position: left center;
    }
}

@media(max-width:769px){
    body{
        zoom: 1;
    }



 
    .first_bottom{
        flex-wrap: wrap;
    }

    .first_bottom_item{
        width: 33%;
        height: auto;
        background-size: contain;
    }

    h1,.first_title{
        font-size: 56px;
        line-height: 60px;
    }

    .menu{
        width: 60px;
        padding: 40px 19px;
    }

    .section_wrapper{
        margin-left: 60px;
    }
}

@media(max-width:427px){
    .container{
        width: 100%;
    }
    .product_item{
        width: 100%;
    }
}