@font-face{
    font-family: 'Rothek';
    src: url('../fonts/rothek-bold.woff') format('woff2'),
         url('../fonts/rothek-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-bold';
    src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-regular';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'JetBrainsMono-extra';
    src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
}

body{
    font-family: 'JetBrainsMono-regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #898989;
}

.container{
    width: 1141px;
    padding: 0 15px;
}

.main-wrapper,.menu_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.menu{
    width: 90px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);   
    padding: 40px 34px;
    height: 100vh;
    position: relative;
}
 
.menu-btn{
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu_title{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Rothek';  
    transform: rotate(-90deg);
    color: #222222;
    padding: 30px 10px;
    padding-bottom: 40px;
}


.menu_list{
    display: none;
    width: 407px;
    padding: 60px 0;
    padding-left: 90px;
    background: #FFFFFF;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.06);
}